@model Equipo

@{
	ViewBag.Title = "Eliminar el equipo";
}

<div class="row text">
	<div class="col-md-8 offset-2">
		<p>
			<h1> Eliminar @Model.Marca @Model.Modelo</h1>
		</p>
		<div class="row">
			<div class="col-md-8 offset-2">
				<div class="form-group">
					<label asp-for="Marca" class="control-label"></label>
					<input asp-for="Marca" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="Modelo" class="control-label"></label>
					<input asp-for="Modelo" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="SerialNo" class="control-label"></label>
					<input asp-for="SerialNo" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="FechaCompra" class="control-label"></label>
					<input asp-for="FechaCompra" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="FechaInicioGarantia" class="control-label"></label>
					<input asp-for="FechaInicioGarantia" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="FechaFinGarantia" class="control-label"></label>
					<input asp-for="FechaFinGarantia" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="FechaAsignacion" class="control-label"></label>
					<input asp-for="FechaAsignacion" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="@Model.Dispositivo.Tipo" class="control-label"></label>
					<input asp-for="@Model.Dispositivo.Tipo" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="@Model.EstadoEquipo.Estado" class="control-label"></label>
					<input asp-for="@Model.EstadoEquipo.Estado" class="form-control" readonly />
				</div>
				<div class="form-group">
					<label asp-for="Usuario" class="control-label"></label>
					<input asp-for="@Model.Usuario.Nombre" class="form-control" readonly />
				</div>
				<br />
				<div class="form-group">
					<form asp-action="Delete">
						<input type="hidden" asp-for="Id" />
						<input type="submit" value="Confirmar" class="btn btn-danger float-right" />
						<a class="btn btn-outline-secondary" asp-action="Index">MOSTRAR TODOS</a>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>